[Libraries]
[Libraries]/
Library/
Temp/
Obj/
Build/
Builds/
Logs/

[Unity Generated]
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd

[OS Files]
.DS_Store
Thumbs.db

[User Settings]
.vscode/
*.userprefs

[Crash Reports]
MemoryCaptures/
*.stacktrace

[Cache]
*.apk
*.aab
*.log
*.meta
*.bak
*.tmp
